body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial;
}

section {
    display: flex;
    justify-content: space-between;
}

h4 {text-align: center;}

div {
    width: 39%;
    text-align: center;
}

h2 {
    color: indigo;
    
}

#mapContainer {
    margin: 20px;
    width: 60%;
    height: 70vh;
}

#mapContainer>div {
    border: 1px solid gray;
}
